@*<div class="jumbotron">
    <h1>Ønsker til navngivningfest</h1>
    <p class="lead">Generelt legetøj fra 
        <a href="http://www.legeakademiet.dk/" target="_blank">Legeakademiet.dk</a> eller <a href="https://www.lirumlarumleg.dk/" target="_blank">LirumLarumLeg.dk</a>
    </p>    
</div>
<div class="row">
    <div class="col-md-12">
        <ul class="list-group">
            <li class="list-group-item">Alle varianter af Bobles (gerne brugt)</li>
            <li class="list-group-item">Aktivitets stativ</li>
            <li class="list-group-item">Balance toppe, trædesti, aktivitets ringe, bjerg, Mini top m pude fra Gonge</li>
            <li class="list-group-item">Lego Duplo - alle slags (gerne brugt)</li>
            <li class="list-group-item">Natlampe</li>
            <li class="list-group-item">Rygsæk</li>
            <li class="list-group-item">Tudekop og tallerken (fx. fra IKEA 65kr)</li>
            <li class="list-group-item">Musikinstrumenter + ørepropper til far (!)</li>
            <li class="list-group-item">Foldbart børnegitter (ikke fra IKEA - de er blevet trukket tilbage)</li>
            <li class="list-group-item">Oball motorik legetøj</li>
            <li class="list-group-item">Babygynge</li>
            <li class="list-group-item">Stable klodser</li>
            <li class="list-group-item">Træ puslespil</li>
            <li class="list-group-item">Puslespil m. klodser og lyd (Lirum Larum Leg)</li>
            <li class="list-group-item">Klodser m. lyd (Lirum Larum Leg)</li>
            <li class="list-group-item">Bondegård</li>
            <li class="list-group-item">Biler</li>                        
            <li class="list-group-item">Babyspejl</li>
            <li class="list-group-item">Skwish rangle</li>            
            <li class="list-group-item">Bidering (Sophie la Girafe)</li>
            <li class="list-group-item">Mit første huskespil (Lirum Larum Leg)</li>
            <li class="list-group-item">Polydron</li>
            <li class="list-group-item">Bog: "Drengen der så gerne ville fløjte"</li>
            <li class="list-group-item">Bog: "Gråd og trøst" - Helle Lyng Hansen</li>
            <li class="list-group-item">Gå-motorcykel eller løbecykel</li>
            <li class="list-group-item">Barnevognskæde</li>
            <li class="list-group-item">Børnebøger</li>
            <li class="list-group-item">Fåreskind til barnevognen</li>
            <li class="list-group-item">Luftballon, real model - fx. <a href="https://www.lirumlarumleg.dk/products/luftballon-i-regnbuefarver-18-cm" target="_blank">luftballon-i-regnbuefarver-18-cm</a></li>
        </ul>
    </div>
</div>*@

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@